
.about-section {
  width: 100vw;
  height: 850px;
  background: #06273D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about {    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    margin-top: 200px;

    color: #FFFFFF;
}
.image-and-short-description{
    width: 1440px;
    height: 600px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image-and-short-description img{
    height: 500px;

    
}
.description-and-button{
    width: 551px;
    height: 419px;
    margin: 0;
    padding: 0;
}
.description-and-button > p{
    width: 350px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    /* or 159% */

    color: #FFFFFF;
}
.description-and-button > button{
    width: 240px;
    height: 62px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 50px;

    background: #F94040;
    border-radius: 10px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;

    color: #FFFFFF;
}
