
.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* background: #1B3447; */
}
.landing-section {
    width: 100%;
    height: 100vh;
    background-image: url(./cape-town-city.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



