.footer {
    width: 100vw;
    height: 350px;
    background: #1B3447;
}
.footer-container{
   width: 270px; 
   height: 210;
   margin: 0 auto;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;

}
.footer-container > .my-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 15px;

    color: #FFFFFF;
}
.footer-container > .quote{
    padding: 0;
    margin: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #FFFFFF;
}
.footer-container > .social-media-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
}
.social-media-icons a{  
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height:40px;
    margin-right: 10px;
 
    color: #fff;
    background: #06273D;
    list-style: none;  
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid #FB5B57;
}

.closing-marks {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0;
}
.closing-marks p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF
}
.fa-copyright{
    margin-right: 10px;
    color: #fff;
}
.footer-last-name{
    font-weight: bold;
}


